<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
            name="app"
            type="RegistryEditor.Common.Configuration.AppSection, RegistryEditor.Common"
            allowLocation="true"
            allowDefinition="Everywhere"
      />
  </configSections>
  <app>
    <servers>
      <server name="YourComputerName" share="YourShareName" user="" password=""/>
    </servers>
  </app>
</configuration>